
<style>
body{

	background-color: #EFEFEF;
    color: #2E2F30;  
     text-align: left;
    font-family: "Century Gothic",CenturyGothic, sans-serif;
    background-color:black;
    

}
h1 {
	 text-shadow: 6px 2px black;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 60px;
	color: green;
}


}
.Checklist p{
	border-style: solid;
	border-width:2px;
	padding: 20px;
	border:pink;
	border-top-width:10px;
	border-radius:10px;
a{

	text-decoration: none;
}

</style>

<div class = "Checklist">
<% if user_signed_in? %>
	<%= @items.each do |item|%>
	<div class="item">
	<h3><%=link_to item.title , item %> </h3>
	<p><%= item.description%></p>
	<%end%> 
	<% else %> 
	<%= render "first_page" %>
	<%end%>
	</div>
</div> 


