
<h1>Welcome! Welcome!</h1>
<p>Here are a list of all your items</p>
<br> 
<style>
body{

	background-color: #EFEFEF;
    color: #2E2F30;  
     text-align: left;
    font-family: "Century Gothic",CenturyGothic, sans-serif;
    margin-left: 300px;
    background-color: #EFEFEF;
    margin-right: 300px;
}


p{
	font-family: "Copperplate", Copperplate Gothic Light, sans-serif;
	border-style: solid;
	border-width:1px;
	padding:10px;
	border-color: pink;
}
h1 {
	 text-shadow: 6px 2px black;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 60px;
	color: green;
}


</style>

<div class = "Checklist">
	<%= @items.each do |item|%></div>
	<h3><%=link_to item.title , item %> </h3>
	<p><%= item.description %></p>
	<%end%> 
</div> 

